---
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import Layout from '@/layouts/Layout.astro'
import { cn } from '@/lib/utils'
import NeonGlassmorphismTimeline from '../components/NeonGlassmorphismTimeline.astro'

const currentUrl = Astro.url;
const list = [
  {
    id: 1,
    title: 'Thiền sư Tuyết Phong',
    date: '2025-06-11',
    content:
      '● "Đời người bỗng nhiên thật ngắn ngủi"',
  },
  {
    id: 2,
    title: 'Thiền sư Tuyết Phong',
    date: '2025-06-11',
    content:
      '● "Phù thế làm sao nương náu lâu"',
  },
  {
    id: 3,
    title: 'Thiền sư Tuyết Phong',
    date: '2025-06-12',
    content:
      '● "Xuống núi mới được ba mươi hai"',
  },
  {
    id: 4,
    title: 'Thiền sư Tuyết Phong',
    date: '2025-06-12',
    content:
      '● "Về Mân thoắt đã ngoài bốn mươi"',
  },
  {
    id: 5,
    title: 'Thiền sư Tuyết Phong',
    date: '2025-06-13',
    content:
      '● "Lỗi người chẳng cần nêu lên mãi"',
  },
  {
    id: 6,
    title: 'Thiền sư Tuyết Phong',
    date: '2025-06-13',
    content:
      '● "Mình sai cần phải trừ hết thôi"',
  },
  {
    id: 7,
    title: 'Thiền sư Tuyết Phong',
    date: '2025-06-14',
    content:
      '● "Trình các tử y tăng đầy triều"',
  },
  {
    id: 8,
    title: 'Thiền sư Tuyết Phong',
    date: '2025-06-14',
    content:
      '● "Diêm Vương chẳng sợ màu áo nâu"',
  },
];
---

<Layout canonicalUrl={currentUrl}>
  <PageHead slot="head" title="404" />

  <section
    class="flex w-full flex-col items-center justify-center gap-y-4 text-center"
  >
    <div class="max-w-md">
      <h1 class="mb-4 text-3xl font-medium">404: Page not found</h1>
      <p class="prose">Oops! The page you're looking for doesn't exist.</p>
    </div>
    <Link
      href="/"
      class={cn(buttonVariants({ variant: 'outline' }), 'flex gap-x-1.5 group')}
    >
      <span class="transition-transform group-hover:-translate-x-1">&larr;</span
      > Go to home page
    </Link>
  </section>

  <NeonGlassmorphismTimeline list={list} />
</Layout>
