---
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import BlogCard from '@/components/react/blog-card'
import Skills from '@/components/react/skills'
import { buttonVariants } from '@/components/ui/button'
import Logo from '@/components/ui/logo'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'
import { SITE } from '@/consts'

const blog = await getRecentPosts(3);
const currentUrl = Astro.url;
const title = "Practise Patriarchal Zen";
---

<Layout canonicalUrl={currentUrl}>
  <section class="flex flex-col gap-y-12 px-4 py-8 sm:px-8 lg:px-16">
    <section class="relative" aria-labelledby="skills-title">
      <div>
        <Skills client:load />
      </div>
    </section>
  </section>
</Layout>
