---
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import BlogCard from '@/components/react/blog-card'
import Skills from '@/components/react/skills'
import { buttonVariants } from '@/components/ui/button'
import Logo from '@/components/ui/logo'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'
import { SITE } from '@/consts'

const blog = await getRecentPosts(3);
const currentUrl = Astro.url;
const title = "Practise Patriarchal Zen";
---

<Layout canonicalUrl={currentUrl}>
  <section class="flex flex-col gap-y-12 px-4 py-8 sm:px-8 lg:px-16">
    <section class="relative" aria-labelledby="skills-title">
      <h2
        id="skills-title"
        class="font-custom text-foreground text-2xl font-bold"
        title="skills"
        aria-label="skills"
        role="heading"
      >
        Tưởng - Hành - Thức ấm
      </h2>
      <p class="text-muted-foreground text-sm" aria-label="skills description">
        ...chạy qua vọng tâm của bạn
      </p>
      <div>
        <Skills client:load />
      </div>
    </section>
  </section>
</Layout>
