---
import Sharer from './Sharer.astro'

const { path, post } = Astro.props
---

<aside
  class="group col-start-2 rounded-xl border p-4 xl:sticky xl:top-26 xl:col-start-3 xl:mr-auto xl:ml-8 xl:h-[calc(100vh-5rem)] xl:max-w-fit xl:rounded-none xl:border-none xl:p-0"
>
  <hr class="mb-8 hidden md:block" />
  <div class="mb-2">
    <h2
      id="shared-post-title"
      class="font-custom text-2xl font-bold text-neutral-900 dark:text-white"
    >
      Share this post
    </h2>
    <p class="text-sm text-neutral-500 dark:text-neutral-400">
      If you found this post helpful, consider sharing it with your friends or on social media.
      Your support helps me create more content like this.
    </p>
  </div>

  <Sharer
    path={path}
    post={post}
  />
</aside>

<script>

</script>
