@import url('https://cdnjs.cloudflare.com/ajax/libs/montserrat/4.7.0/css/montserrat.min.css');

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html, body {
	min-height: 100vh;
	color: white;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

body::-webkit-scrollbar,
.command-line::-webkit-scrollbar {
	display: none;
}

body {
	display: flex;
	flex-direction: column;
	background: black url('https://banmaixanh.vercel.app/image/cover/001-053.jpg') center/cover;
	overflow: hidden;
}

p {
	font-size: 1.2rem;
	margin: 1rem;
	text-align: justify;
}

#starfield {
	position: fixed;
	z-index: -1;
	pointer-events: none;
}

@media screen and (max-width: 960px) {
	.hide {
		display: none;
	}
}